<!DOCTYPE html>
<html>
<head>
  <title>CodeLab.she</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style >


body {
   background-image: url("http://www.orangeikon.com/wp-content/uploads/2014/06/peak-15.jpg");
   background-repeat: no-repeat, repeat;
   background-color: #cccccc;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar , .container .row {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   /*background-color: rgba(255,255,255,0.1);*/ }
.navbar .collapse .navbar-nav li a{
    color:white;
}
.jumbotron{
height: 530px
}
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/MakeUP">Make UP</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/skinCare">Skin Care</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/tools">Brushes & Tools</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/dashboard">DashBoard</a>
      </li>
    </ul>
  </div>
</nav>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div class="container ">
  <div class="row ">
    <div class="col-12 col-md-6">
      <img src="https://i.pinimg.com/564x/93/f4/38/93f438f4229843c4d4b329155f688154.jpg">
    </div>
    <div class="col-12 col-md-5">
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <h1 class="display-4">Be Pretty <br> Be Different</h1>
    <p class="lead">An Online cosmetic Shopping Website</p>
  </div>
</div>
    </div>
  </div>
</div>

</body>
</html>